.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    background-color: bisque;

    & .title {
        background-color: red;
        padding: 25px 0px;
        text-align: center;
        &__first {
            font-size: 45px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        &__second {
            font-size: 20px;
            font-weight: 300;
        }

    }
    & .notes {
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
            display: block;
            position: relative;
            margin-bottom: 15px;
            padding: 10px 10px 5px 35px;
            width: 75%;
            height: 120px;
            background-color: lawngreen;
            border: 1px solid lawngreen;
            border-radius: 40px;
            overflow: hidden;
            & .item__title {
                font-size: 16px;
                font-weight: 600;
            }
            & .item__text {
                margin-top: 5px;
                font-size: 14px;
                
                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                -moz-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                line-clamp: 4;
                box-orient: vertical;
            }
            & .item__date {
                position: absolute;
                bottom: 5px;
                font-size: 13px;
                font-weight: 300;
                
            }
        }
    }
    .notes__new {
        background-color: lightblue;
        width: 860px;

        display: none;
        flex-direction: column;

        & .title-new {
            padding-left: 10px;
            padding-top: 5px;
            font-size: 18px;
            border: none;
            outline: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        & .textarea {
            height: 420px;
            padding: 10px;
            font-size: 14px;
            font-weight: 400;
            border: none;
            resize: none;
            outline: none;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        & .buttons {
            margin-top: 5px;
        }
    }
}