$mainColor: #0B0B0B;
$mainBG: #f2f2f2;
$secondBG:  #e9e9e9;
$thirdBG: #fcfcfc;

body {
    background-color: $mainBG;
    color: $mainColor;
}
.header {
    background-color: $secondBG;
}
.menu {
    background-color: $thirdBG;
}
.toggle-btn {
    background-color: $mainBG;
}
.circle {
    background-color: $mainColor; 
}
#new-notes {
    background-color: $secondBG;
}
.btn-delete {
    color: $mainColor;
}
.btn-edit {
    color: $mainColor;
}
.notes__item {
    background-color: $thirdBG;
    border: 1px solid $thirdBG;
}
// .title-new {
//     border-bottom: 1px solid $secondBG;
// }